body {
    background-color:rgb(90, 81, 174)
}

a{
    text-decoration: none;
}

.Active {
    color: blue;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #24262b;
    color: white;
  }




